/* *->Seleciona todos os elementos*/
*{
	margin: 0;
	padding: 0;
	/*box-sizing: border-box; /*inclui o padding e a borda na altura e largura dos elementos*/
}

.index{
	font-family: 'Poppins', sans-serif;
	background-color: #8BC6EC;
	background-image: linear-gradient(135deg, #8BC6EC 35%, #9599E2 100%);
}

#sobre{
	font-family: 'Poppins', sans-serif;
	background: #7fb6f9;
}

main{
	margin: 0;
}

#logo{
	width: 250px;
    margin-top: 20px;
	cursor: pointer;
}

#cabecalho{
	display: flex;/*altera a altura e largura dos elementos para que se adequem ao espaço disponível para exibição.*/
	align-items: center;
	padding: 20px;
}

#menuPrincipal{
	flex: 1;/* diz que os elementos cresceram no eixo principal*/
	text-align: right;	
}

#menuPrincipal ul{
	display: inline-block;
	list-style-type: none;	
}

#menuPrincipal ul li{
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;

}
#menuPrincipal ul li a{
	color: #ffffff;
}

a{
	text-decoration: none;
	color: #ffffff;
}

p{
	color: black;
}

#cabecalhoPagina{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;	
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: nowrap;/*vai empilhando os elementos lado a lado conforme a largura, se acabar, quebra uma linha*/
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;/*define que os elementos terão tamanho de 50% antes de eles serem dimensionados*/
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;/*espaçamento entre as linhas do texto*/
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #FF523B;
	color: #FFF;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: 0.3s;
}

.btn:hover{
	background: #000000;
}

main .row{
	margin-top: 50px;	
}

#carrinhoCompras{
	width: 30px;
	height: 30px;
}

#categoriasEmDestaque{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img{
	width: 100%;
}

.secaoPrincipal{
	max-height: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.secaoPrincipalSobre{
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;	
	transition: transform 0.5s;	
}

.col-4 img{
	width: 100%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: black;
}

/* cria uma linha(elemento filho do title) laranja em baixo e no meio do título*/
.title::after{
	content: '';
	background: #FF523B;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);/* joga a imagens dos produtos pra cima pra dar um efeitinho*/
}

h4{
	color: #555;
	font-weight: normal;
}

.col-4 p {
	font-size: 14px;
}

.avaliacao{
	color: #FF523B;
}

.col-4:hover{
	transform: translateY(-5px);
}

#ofertas{
	/*margin-top: 30%;*/
	margin-left: 25px;
	padding: 30px 0;

}

#ofertas .img-oferta{
	padding: 50px;
}

small{
	display: block;
	color: #555;
}

.depoimentos .col-3{
	text-align: center;
	padding: 20px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.0);
	cursor: pointer;
	transition: transform 0.5s;
}

.depoimentos .col-3:hover{
	transform: translateY(-10px);
}

.depoimentos .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.depoimentos .col-3 p{
	color: black;
}

.footer{
	background: #000;
	color: #8A8A8A;
	font-size: 14px;
	padding: 3px;
}

.footer h3, .footer p{
	color: #ffffff;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;	
}

.footer-col-1{
	flex-basis: 30%;
}

.footer-col-2{
	flex: 1;
	text-align: center;
}

.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}

ul{
	list-style-type: none;
}

.app-logo{
	margin-top: 20px;
}

.app-logo img{
	width: 140px;
}

.footer hr{
	border: none;
	background: #B5B5B5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;	
}

footer.footer {   
	margin-top: 260px;
	background: linear-gradient(30deg, #594ff8, transparent);
	color: #ffffff;
}

img.logo_footer {
    width: 35%;
}

/*Buttons header*/

button {
	background: linear-gradient(-45deg, #9599E2, #7b85e6, #27c8b7, #8BC6EC);
	background-size: 800% 400%;
	padding: 1em 2em;
	border: none;
	border-radius: 10px;
	font-size: 17px;
	font-weight: 700;
	color: white;
	transition: all .5s ease-in-out;
	animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
	cursor: pointer;
}

button:hover {
	animation: gradient 3s infinite;
	transform: scale(1.05);
}
   
button:active {
	animation: gradient 3s infinite;
	transform: scale(0.8);
}
   
@keyframes gradient {
	0% {
	 background-position: 0% 50%;
	}
   
	50% {
	 background-position: 100% 50%;
	}
   
	100% {
	 background-position: 0% 50%;
	}
}

section.loginCard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3.titleLogin {
	margin-bottom: 1rem;
 	font-size: 1.5em;
 	font-weight: 500;
 	color: #f5f5f5;
	font-family: 'Poppins', sans-serif;
}

input.inputLogin {
	line-height: 28px;
	border: 2px solid transparent;
	border-bottom-color: #91a8e5;
	padding: .2rem 0;
	outline: none;
	background-color: transparent;
	color: #ffffff;
	transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
	margin-top: 1.3rem;
   }
   
   input.inputLogin:focus, input.inputLogin:hover {
	outline: none;
	padding: .2rem 1rem;
	border-radius: 1rem;
	border-color: #7a9cc6;
   }
   
   input.inputLogin::placeholder {
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
   }
   
   input.inputLogin:focus::placeholder {
	opacity: 0;
	transition: opacity .3s;
   }
   
button.btnLogin {
	align-items: center;
	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
	border: 0;
	border-radius: 8px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	box-sizing: border-box;
	color: #FFFFFF;
	display: flex;
	font-family: Phantomsans, sans-serif;
	font-size: 18px;
	justify-content: center;
	line-height: 1em;
	max-width: 100%;
	min-width: 140px;
	padding: 3px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	cursor: pointer;
	transition: all .3s;
	margin: 40px;
}
   
button.btnLogin:active, button.btnLogin:hover {
	outline: 0;
}
   
button.btnLogin span {
	background-color: rgb(5, 6, 45);
	padding: 16px 24px;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	transition: 300ms;
	opacity: 0.9;
}
   
button:hover.btnLogin span {
	opacity: 1;
}
   
button:active {
	transform: scale(0.9);
}

#fpsw {
	color: #ffffff;
	cursor: pointer;
}

figure.figure1, figure.figure2, figure.figure3, figure.figure4 {
	cursor: pointer;
}

#btn {
	display: flex;
	margin: 0 auto;
}

#ultimoProdutos2 {
	transition: .6s ease opacity,.6s ease transform;
}